.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  background-color: white;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 125, 185, 1),
    rgba(138, 218, 255, 1)
  );
}

.toolbar-container {
  width: 100vw;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
}
