.toolbar {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 30px 20px;
  background-color: inherit;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0px 20px;
}

.brandName {
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 3px;
}

@media only screen and (max-width: 700px) {
  .brandName {
    display: none;
  }
}

.searchBar {
  min-width: 200px;
  width: 30vw;
  padding: 5px 30px;
  margin: 0 10px;
  background-color: inherit;
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  color: white;
  border-bottom: 1px solid white;
}

.searchInput:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.searchInput::placeholder {
  color: white;
}

.locationList {
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 10;
  background-color: white;
  color: #434343;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  min-width: 200px;
  width: 26vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.locationRow {
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
}

.locationRow:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

.locationLatLong {
  font-weight: bolder;
}

.locationRegion {
  font-size: smaller;
}

.locationRowLoading {
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinningArrow {
  animation: spin 2s linear infinite;
  width: 12px;
  height: 12px;
  margin: 0px;
  background: none;
}
